[submodule "VBE"]
	path = VBE
	url = https://github.com/Towerthousand/VBE.git
[submodule "VBE-Scenegraph"]
	path = VBE-Scenegraph
	url = https://github.com/Towerthousand/VBE-Scenegraph.git
[submodule "VBE-Profiler"]
	path = VBE-Profiler
	url = https://github.com/Towerthousand/VBE-Profiler.git
